<div class="container">
  <div class="wrapper">
    <div class="login-container">
      <div class="logo">Accenture</div>
      <div class="login-item">
        <form action="" method="post" class="form form-login">
          <div class="form-field">
            <div><span class="hidden">Username</span></div>
            <input id="login-username" type="text" class="form-input" placeholder="Username" required>
          </div>

          <div class="form-field">
            <div><span class="hidden">Password</span></div>
            <input id="login-password" type="password" class="form-input" placeholder="Password" required>
          </div>

          <div class="form-field">
            <input type="submit" value="Log in">
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<!-- <div style="text-align:center">
  <fa-icon [icon]="faCoffee"></fa-icon>
</div> -->