<div class="container">
  <navbar></navbar>
  <div class="content-wrapper">
    <div class="gallery">
      <div class="gallery__item">
        <img class="gallery__item--image" src="../../assets/images/dog-and-man.jpg" alt="a person walking a dog">
        <div class="text">Retirement</div>
      </div>
      <div class="gallery__item">
        <img class="gallery__item--image" src="../../assets/images/children.jpg" alt="two boys walking">
        <div class="text">Online Services</div>
      </div>
      <div class="gallery__item">
        <img class="gallery__item--image" src="../../assets/images/disability.jpg" alt="race">
        <div class="text">Disability</div>
      </div>
      <div class="gallery__item">
        <img class="gallery__item--image" src="../../assets/images/couple.jpg" alt="child running">
        <div class="text">Survivor's Benefits</div>
      </div>
      <div class="gallery__item">
        <img class="gallery__item--image" src="../../assets/images/alley.jpg" alt="child running">
        <div class="text">Change of Address</div>
      </div>
      <div class="gallery__item">
        <img class="gallery__item--image" src="../../assets/images/running.jpg" alt="child running">
        <div class="text">FAQs</div>
      </div>
    </div>
  </div>
  <footer></footer>
</div>