<div class="container">
  <navbar></navbar>
  <div class="content-wrapper">
    <div class="profile-container">
      <form>
        <div class="title">Welcome {{ details?.first_name }} {{ details?.last_name }}</div>
        <div class="details">
          <div>{{ details?.email }}</div>
          <button type="button" (click)="auth.logout()">Logout</button>
          <button type="button"  routerLink = "../claim">Submit a claim</button>
        </div>
      </form>
    </div>
    <footer></footer>
  </div>