<div class="auth-container">
  <div class="register-container">
    <div class="company-name">Accenture</div>
    <form (submit)="register()">
      <ul class="flex-outer">
        <li>
          <label for="firstname">First Name</label>
          <input type="text" name= "firstname" placeholder="First Name" id = "firstname" [(ngModel)]= "credentials.first_name">
        </li>
        <li>  
          <label for="lastname">Last Name</label>
          <input type="text"  name = "lastname" placeholder="Last Name" id = "lastname" [(ngModel)]= "credentials.last_name">
        </li>
        <li>
          <label for="email">Email</label>
          <input type="text" name = "email" placeholder="Email" id = "email" [(ngModel)]= "credentials.email">
        </li>
        <li>
          <label for="username">Username</label>
          <input type="text" name= "username" placeholder="Username" id = "username" [(ngModel)]= "credentials.user_name">
        </li>
        <li>
          <label for="password">Password</label>
          <input type="text" name = "password" placeholder="Password" id = "password" [(ngModel)]= "credentials.password">
        </li>
        <li>
            <label for="confirm-password"> Confirm Password</label>
            <input name = "confirm-password" type="text" id = "confirm-password" placeholder="Confirm Password">
          </li>
        
        <li>
            <i routerLink = "../login" class="fa fa-arrow-left back-button"></i>
          <button type="submit">Submit</button>
        </li>
      </ul>
    </form>
  </div>

</div>