<div class="footer">
  <div class="footer__links">
    <div>About Us</div>
    <div>Accessability</div>
    <a href="https://www.benefits.gov/">Benefits.gov</a>
    <a href="https://www.dol.gov/odep/topics/disability.htm">Disability.gov</a>
    <a href="https://www.mymoney.gov/Pages/default.aspx"> MyMoney.gov</a>
    <a href="https://www.regulations.gov/"> Regulations.gov</a>
    <a href="https://www.usa.gov/"> USA.gov</a>
  </div>
  <div class="footer__social-media">
    <i class="fa fa-facebook-f"> </i>
    <i class="fa fa-twitter-square"></i>
  </div>
</div>