/*
*This stylesheet is to be imported for the login and registration page.
*/

.auth-container{
    background-image: url('/assets/images/login-background.jpg');
   
    //center and scale the image
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
	
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
	
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    overflow-y:scroll;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'lato', sans-serif;
    color: black;
}
/*this media query checks to see if the browser window is smaller than the image, and uses a combo 
*percentage-left and negative left margin to keep it centered regardless.
*/@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
      }
  }
  